.features {
  background-color: $white-color;
  padding-bottom: 0px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__image {
    @extend %align-list;
    justify-content: center;
    border-radius: 4px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
  }
  &__item {
    // margin-bottom: 30px;
    // margin-right: 30px;
    // &:last-child {
    //   margin-right: 0;
    width: 100%;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: $letter-spacing;
    color: $main-text-color;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @include tablet {
      text-align: left;
    }
    @include desktop {
      text-align: left;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: $letter-spacing;
    color: $secondary-text-color;
    text-align: justify;
    // width: 270px;
  }
}
