.address {
  background-color: $bg-color;
  color: $white-color;
  letter-spacing: $letter-spacing;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    display: block;
    .container {
      display: flex;
      align-items: baseline;
    }
  }
  // @include tablet {
  //   // display: block;
  //   .container {
  //     display: inline;
  //     flex-wrap: wrap;
  //     // align-items: baseline;
  //     // justify-content: space-between;
  //   }
  // }
}
